<script setup lang="ts">
import FancyButton from '@/components/FancyButton.vue';
import Icon from '@mdi/react';
import { mdiHeart } from '@mdi/js';

</script>
<template>
  <v-container>
    <v-row>
      <v-col><FancyButton><v-icon icon="mdi-heart"></v-icon>Click Me
      </FancyButton></v-col>
    </v-row>
  </v-container>

</template>