<script>
export default {
  data: () => ({
    tab: null,
    model: null
  })
}
</script>

<template>

  <v-card
    width="100%"
    height="400px"
    style="background-image: url('https://www.architects110.com/wp-content/uploads/2017/04/5426_View-3.jpg');  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;"

    >
    
    <v-row>
      <v-col >
        <v-avatar size="300px" style="margin: 50px">
          <v-img
            src="https://scontent.futp1-1.fna.fbcdn.net/v/t1.15752-9/346179615_2172750386251680_5770492722084930119_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGPMr4a2SqVX31HUMGXlrcgpL6Nu9kW5NCkvo272Rbk0ACtyFBxMqxbH7ll7trd7KDnrS7WqsAR6t2OEfmL2Dzs&_nc_ohc=CDQcFZrCpgUAX9FFCkR&_nc_ht=scontent.futp1-1.fna&oh=03_AdScJhc4PoOnPg_OoBbsd9EfYC_A-8ojbJTzW3e14R3I6Q&oe=648FF50A"
            style="height: 500px"
            cover
          ></v-img>
        </v-avatar>
      </v-col>
    </v-row>
  </v-card>

<v-row>
<v-col>
 <div style="font-size: 18px; margin: 3%;">
  <v-card
    class="mx-auto"
    width="800px"
    prepend-icon="mdi-star"
  >
  <v-img src="https://scontent.futp1-2.fna.fbcdn.net/v/t1.6435-9/121155346_999691597166434_5330138505735604462_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHqukICKqLC3AucO4xSWa5zqlUKJdArRJyqVQol0CtEnAn66P7OdxvCrsv9rKvxs0xDNSbEq6lqVul-1cHSsCG1&_nc_ohc=gL6SXyqMlokAX92WUG8&_nc_ht=scontent.futp1-2.fna&oh=00_AfDeXMqx7uv-yDpqL6tICDHT6pWh_KeCRxCO4_5Og8YXBQ&oe=64905E11"
        style="height: 500px"
            cover></v-img>
    <template v-slot:title>
      Presonal Information
    </template>

    <v-card-text style="font-size: 15px;">
      ชื่อ: นายชานนท์ ตันสวัสดิ์<br />
    ชื่อเล่น: ไอซ์<br />
    วันเกิด: 22 สิงหาคม พ.ศ.2546<br />
    สัญชาติ: ไทย เชื้อชาติ: ไทย<br />
    กรุ๊ปเลือด: O<br />
    วิชาที่ชอบ: คอมพิวเตอร์ <br />
    เเละ วิทยาศาสตร์<br />
    เเผนการเรียน: วิทยาศาสตร์เเละคณิตศาสตร์
    </v-card-text>
  </v-card>
  
  </div>
</v-col>


<v-col style="margin: 3%;">
  <v-carousel hide-delimiters>
  <v-carousel-item
    src="https://extension.harvard.edu/wp-content/uploads/sites/8/2020/10/computer-programming.jpg"
    cover
  ></v-carousel-item>

  <v-carousel-item
    src="https://d1w82usnq70pt2.cloudfront.net/wp-content/uploads/2021/11/gundam_header-696x360.jpg"
    cover
  ></v-carousel-item>
  <v-carousel-item
    src="https://i.insider.com/6185934f23745d0018255660?width=1200&format=jpeg"
    cover
  ></v-carousel-item>

  <v-carousel-item
    src="https://virtualpiano.net/wp-content/uploads/2021/12/Learn-to-play-Saxophone-online-Virtual-Piano.jpg"
    cover
  ></v-carousel-item>
</v-carousel>
  <v-table>
    <thead>
      <tr>
        <th class="text-left">
          Interests
        </th>
        <th class="text-left">
          Level
        </th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Programming</td>
        <td><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon></td>
      </tr>
      <tr>
        <td>Toys</td>
        <td><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon></td>
      </tr>
      <tr>
        <td>Games</td>
        <td><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon></td>
      </tr>
      <tr>
        <td>Music</td>
        <td><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon><v-icon icon="mdi-star"></v-icon></td>
      </tr>
    </tbody>
  </v-table>
</v-col>
</v-row>

<v-row>
<v-col>
  
</v-col>
<v-col style="width: 100%;margin: 1.5%;">
  <v-card
    class="mx-auto"
    width="800px"
    prepend-icon="mdi-book"
  >
  <template v-slot:title>
    Education
    </template><v-card>
        <v-tabs v-model="tab" bg-color="black">
          <v-tab value="one">Primary school</v-tab>
          <v-tab value="two">Secondary school</v-tab>
        </v-tabs>

        
        <v-card-text>
          <v-window v-model="tab">
            <v-window-item value="one">
              <v-card class="mx-auto" max-width="500px" >
                <v-card-text>
                  <div></div>
                  <v-img src="https://www.masschool.net/csc/media/img/dhammasiri.jpg"></v-img>
                  <p class="text-h4 text--primary">DS</p>
                  <div class="text--primary">
                    <p style="font-size: 11 px">โรงเรียนธัมมสิริศึกษาสัตหีบ<br><br><br></p>
                  </div>
                </v-card-text>
              </v-card>
            </v-window-item>


            <v-window-item value="two">
              <v-card class="mx-auto" max-width="500px">
                <v-card-text>
                  <div></div>
                  <v-img src="https://online.pubhtml5.com/aauy/accountlogo.png"></v-img>
                  <p class="text-h4 text--primary">SWRY</p>
                  <div class="text--primary">
                    <p style="font-size: 11 px">
                      โรงเรียนเฉลิมพระเกียรติสมเด็จพระศรีนครินทร์ ระยอง<br />
                      ในพระราชูปถัมภ์สมเด็จพระเทพรัตนราชสุดาฯ <br />สยามบรมราชกุมารี
                    </p>
                  </div>
                </v-card-text>
              </v-card>
            </v-window-item>
          </v-window>
        </v-card-text>
      </v-card>
    </v-card>
</v-col>
</v-row>

</template>
