<script setup lang="ts">
import FrameworkPop from '@/components/FrameworkPop.vue';
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJS",
    img:"https://juststickers.in/wp-content/uploads/2017/11/vue-js-326x326.png",
    rating: 10,
  },
  {
    name: "Angular",
    img:"https://th.bing.com/th/id/OIP.piK8b5rQNtCQzN4vN_oiAgHaH8?pid=ImgDet&rs=1",
    rating: 20,
  },
  {
    name: "React",
    img:"https://th.bing.com/th/id/R.cd7bb6bec60f6799aa174b4e07b92ea4?rik=BHSaQZLldSrFEg&riu=http%3a%2f%2fpewlehh.com%2fimages%2freact.png&ehk=YveCdhSmivB2dp1byBMJFp7rWw3vDbrzY%2bp2FBLI3Zs%3d&risl=&pid=ImgRaw&r=0",
    rating: 14,
  },
]);
function changeRating(index: number,rating: number){
  console.log("action"+ index +" :"+rating);
  frameList.value[index].rating = rating;
}
const orderList = computed(()=>{
  return [...frameList.value].sort((n1,n2) => n2.rating - n1.rating);
})
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item,index) of frameList" :key="index">
        <FrameworkPop 
        :name="item.name" 
        :img="item.img" 
        :rating="item.rating" 
        :index="index"
        @change="changeRating">
        </FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify=center>
      <v-col cols="6">
      <v-table>
        <thead>
          <tr>
            <th>order</th>
            <th>name</th>
            <th>rating</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) of orderList" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.rating }}</td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
    </v-row>
  </v-container>
</template>