<template>

  <v-card>
    <v-layout>
      <v-navigation-drawer
        expand-on-hover
        rail
      >
        <v-list>
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
            title="Sandra Adams"
            subtitle="sandra_a88@gmailcom"
          ></v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item 
            prepend-icon="mdi-folder" 
            title="My Files" 
            value="myfiles"
            to = '/my-flies-view'>
      
          </v-list-item>
          <v-list-item 
            prepend-icon="mdi-account-multiple" 
            title="My Profile" 
            value="myprofile"
            to = '/my-profile'>
          </v-list-item>
          <v-list-item 
            prepend-icon="mdi-star" 
            title="Starred" 
            value="starred"
            to = '/star-view'>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <router-view></router-view>
      </v-main>
    </v-layout>
  </v-card>
</template>

<script>
import { useTheme } from 'vuetify'
import { ref } from 'vue'
import { mdiVuetify } from "@mdi/js"


export default {
  setup () {
    const theme = useTheme()


    return {
      theme,
      toggleTheme: () => theme.global.name.value = theme.global.current.value.dark ? 'light': 'dark'
    }

  }
}
</script>